.tabela{
    margin-right: 40px;
    border:solid 1px #a8a8a8;
    padding:20px;
}

.tabela a{
    /* Remove o sublinhado dos ícones do bootstrap */
    text-decoration: none;
}

/* Alexandre em 02/09/2022 - Coloca a primeira letra do Campo em maiúscula */
th:first-letter{
    text-transform: uppercase;
}

/* Alexandre em 02/09/2022 - Coloca a primeira letra do Campo em maiúscula */
.form-label:first-letter{
    text-transform: uppercase;
}
